<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="icon" href="/assets/images/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="module" src="/assets/script.js"></script>
</head>

<body>
    <div class="wallpaper" style="opacity: {{bg_opacity}}; {% if bg_blur %}filter: blur(10px);{% endif %}"></div>
    <div class="container">
        <form id="searchForm">
            <input autofocus autocomplete="off" type="text" name="q" />
            <button type="submit"><img src="/assets/images/searchIcon.svg" alt="searchIcon" /></button>
        </form>
    </div>
</body>

</html>
